.category-filter-container {
    display: flex;
    overflow-x: auto;
    padding: 10px 0;
}

.category-button {
    flex: none;
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    background-color: #eee;
    cursor: pointer;
}

.category-button:last-child {
    margin-right: 0;
}
